.App {
  min-height: 94vh;
  width: 100%;
  background: #f5f5f5;
  .top-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    .chart-container-1 {
      width: 50%;
      justify-content: center;
      border: 1px solid lightgrey;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: 0.3s;
    }
    .chart-container-2 {
      width: 50%;
      justify-content: center;
      border: 1px solid lightgrey;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: 0.3s;
      margin-left: 10px;
    }
  }
  .bottom-container {
    display: flex;
    flex-direction: row;
    padding: 20px;

    .chart-container-3 {
      width: 50%;
      justify-content: center;
      border: 1px solid lightgrey;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: 0.3s;
    }
    .chart-container-4 {
      width: 50%;
      justify-content: center;
      border: 1px solid lightgrey;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: 0.3s;
      margin-left: 10px;
    }
  }
}
